<div class="component">
  <legend>
    <span class="model-label"><%= model.label %></span>
    <pre class="guid" v-text="component.guid"></pre>

    <div class="btn-group btn-group-sm pull-right">
      <% if field.orderable %>
        <button v-on="click: moveUp" type="button" class="btn btn-default {{ moveUpEnabled ? '' : 'disabled' }}">
          <i class="icon-circle-arrow-up"></i>
        </button>

        <button v-on="click: moveDown" type="button" class="btn btn-default {{ moveDownEnabled ? '' : 'disabled' }}">
          <i class="icon-circle-arrow-down"></i>
        </button>
      <% end %>

      <button v-on="click: expanded = !expanded" type="button" class="btn btn-default">
        <i class="{{ expanded ? 'icon-resize-small' : 'icon-resize-full' }}"></i>
      </button>

      <button v-on="click:remove" type="button" class="btn btn-default">
        <i class="icon-remove"></i>
      </button>
    </div>
  </legend>

  <div v-show="expanded">
    <%= content_tag :p, model.help, class: "help-block" unless model.help.nil? %>

    <% model.fields.each do |f| %>
      <div class="control-group row <%= f.css_class %>">
        <label class="col-sm-2 control-label"><%= f.label %></label>

        <div class="controls col-sm-10">
          <% if f.type == :string %>
            <%= render 'rails_admin_json_editor/main/component_fields/string', f: f %>
          <% end %>

          <% if f.type == :text %>
            <%= render 'rails_admin_json_editor/main/component_fields/text', f: f %>
          <% end %>

          <% if f.type == :markdown %>
            <%= render 'rails_admin_json_editor/main/component_fields/markdown', f: f %>
          <% end %>

          <% if f.type == :boolean %>
            <%= render 'rails_admin_json_editor/main/component_fields/boolean', f: f %>
          <% end %>

          <% if f.type == :enum %>
            <%= render 'rails_admin_json_editor/main/component_fields/enum', f: f %>
          <% end %>

          <% if f.type == :picker %>
            <%= render 'rails_admin_json_editor/main/component_fields/picker', f: f %>
          <% end %>

          <% if f.type == :list %>
            <%= render 'rails_admin_json_editor/main/component_fields/list', f: f %>
          <% end %>

          <%= content_tag :p, f.help, class: "help-block" unless f.help.nil? %>
        </div>
      </div>
    <% end %>
  </div>
</div>
