<%= javascript_include_tag "rails_admin_json_editor/rails_admin_json_editor" %>
<%= stylesheet_link_tag "rails_admin_json_editor/rails_admin_json_editor", media: 'all' %>

<div ref="json-editor"
  class="json-editor"
  data-json-result='<%= field.value.blank? ? '{ "components":[] }' : field.value %>'
  data-json-scheme='{ "models":<%= raw field.models.to_json %> }'
  data-enable-guids="<%= field.guids ? 'true' : 'false' %>" >

  <% field.models.each do |model| %>
    <script type="text/x-template" id="template-fields-for-<%= model.name %>">
      <%= render 'rails_admin_json_editor/main/component', field: field, model: model %>
    </script>
  <% end %>

  <!-- List all content -->
  <div v-repeat="component: components">
    <div v-component="fields-for-{{ component.model_name }}" v-with="component: component, parentComponents: components, parentIndex: $index"></div>
  </div>

  <!-- Dropdown to add new content -->
  <div class="dropdown pull-left">
    <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
      <%= I18n.t 'admin.json_editor.add', field_name: 'Component' %>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li v-repeat="model: scheme.models">
        <a href="#" v-if="!model.hide_in_root" v-on="click: addComponent($event, model)">{{ model.label }}</a>
      </li>
    </ul>
  </div>

  <!-- Hidden field to store JSON -->
  <div>
    <% if Rails.env.development? %>
      <button v-on="click: showJson = !showJson" type="button" class="btn btn-default pull-left btn-toggle-json">
        <i class="icon-list-alt"></i>
      </button>
    <% end %>

    <div v-show="showJson">
      <%= form.text_area field.name,
        'v-model' => 'result',
        value: field.value,
        ref: 'json-textarea',
        style: 'width:100%; height:400px; margin-top:20px' %>
    </div>
  </div>
</div>
