<%= javascript_include_tag "rails_admin_json_editor/rails_admin_json_editor" %>
<%= stylesheet_link_tag "rails_admin_json_editor/rails_admin_json_editor", media: 'all' %>

<div ref="json-editor"
  class="json-editor"
  data-json='<%= raw(field.value.blank? ? '{ "components":[] }' : field.value) %>'>

  <!-- List content -->
  <div v-repeat="component: components" class="component">
    <% field.components.each do |component| %>
      <div v-if="component.type == '<%= component.type %>'">
        <legend>
          <%= component.label %>
          <div class="btn-group btn-group-sm pull-right">
            <button v-on="click: moveComponentUp($index)" type="button" class="btn btn-default {{ $index == 0 ? 'disabled' : '' }}">
              <i class="icon-circle-arrow-up"></i>
            </button>
            <button v-on="click: moveComponentDown($index)" type="button" class="btn btn-default {{ $index == components.length - 1 ? 'disabled' : '' }}">
              <i class="icon-circle-arrow-down"></i>
            </button>
            <button v-on="click: component.tmp.expanded = !component.tmp.expanded" type="button" class="btn btn-default">
              <i class="{{ component.tmp.expanded ? 'icon-resize-small' : 'icon-resize-full' }}"></i>
            </button>
            <button v-on="click:removeComponent($index)" type="button" class="btn btn-default">
              <i class="icon-remove"></i>
            </button>
          </div>
        </legend>

        <div v-show="component.tmp.expanded">
          <%= content_tag :p, component.help, class: "help-block" unless component.help.nil? %>

          <% component.fields.each do |f| %>
            <div class="control-group row">
              <%= label_tag f.name, f.label, class: "col-sm-2 control-label" %>

              <div class="controls col-sm-10">
                <% if f.type == :string %>
                  <%= text_field_tag f.name, nil, class: 'form-control', 'v-model' => "component.props.#{f.name}" %>
                <% end %>

                <% if f.type == :text %>
                  <%= text_area_tag f.name, nil, class: 'form-control', 'v-model' => "component.props.#{f.name}" %>
                <% end %>

                <% if f.type == :picker %>
                  <select v-on="change: onChangePicker($event, $index, '<%= f.name %>')" class="form-control record-picker">
                    <option value=""></option>
                    <% f.picker_records.each do |record| %>
                      <option
                        v-attr="selected: pickerOptionIsSelected(component, '<%= f.name %>', '<%= f.picker_label %>', '<%= record.send(f.picker_label) %>')"
                        value="<%= record.send(f.picker_label) %>"
                        data-json="<%= record.to_json %>">
                          <%= record.send(f.picker_label) %>
                      </option>
                    <% end %>
                  </select>
                <% end %>

                <%= content_tag :p, f.help, class: "help-block" unless f.help.nil? %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown to add new content -->
  <div class="dropdown pull-left">
    <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">Component toevoegen <b class="caret"></b></a>

    <ul class="dropdown-menu">
      <% field.components.each do |component| %>
        <li><a href="#" v-on="click: addComponent" component-type="<%= component.type %>"><%= component.type %></a></li>
      <% end %>
    </ul>
  </div>

  <!-- Hidden field to store JSON -->
  <div>
    <% if Rails.env.development? %>
      <button v-on="click: tmp.showJson = !tmp.showJson" type="button" class="btn btn-default pull-left btn-toggle-json">
        <i class="icon-list-alt"></i>
      </button>
    <% end %>

    <div v-show="tmp.showJson">
      <%= form.text_area field.name, value: field.value, 'v-model' => '$root.$data | json', style: 'width:100%; height:400px; margin-top:20px' %>
    </div>
  </div>
</div>
