<div class="picker">
  <div v-if="pickerResult('<%= f.name %>')" class="picker-preview">
    <% if !f.picker_preview_image_field.nil? %>
      <img v-attr="src: pickerResult('<%= f.name %>').<%= f.picker_preview_image_field %>" />
    <% elsif !f.picker_preview_field.nil? %>
      <p v-text="pickerResult('<%= f.name %>').<%= f.picker_preview_field %>"></p>
    <% else %>
      <pre v-text="pickerResult('<%= f.name %>') | json"></pre>
    <% end %>

    <a v-on="click: removePickerResult('<%= f.name %>')" class="btn btn-info remove">
      <i class="icon-remove icon-white"></i>
      Remove
    </a>
  </div>

  <div v-if="!pickerResult('<%= f.name %>')">
    <% url = rails_admin.new_path(f.picker_model_name) + '?modal=true' %>
    <a v-on="click: showPickerModal('<%= f.name %>', '<%= url %>')" class="btn btn-info create">
      <i class="icon-plus icon-white"></i>
      Add
    </a>
  </div>
</div>
